/* COMMON */

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: black;
  background-color: #ffffff;
  min-width: 960px;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  margin: 0;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 50px;
  padding: 0 1.5em;
  color: #fff;
  background-color: #fb565a;
  text-align: center;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: #e37376;
}


/* LAYOUT */

.container {
  position: relative;
  max-width: 1200px;
  /*outline: 3px dotted pink;*/
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */


header {
  background-color: #eeeeee;
  /*padding-top: 55px;
  height: 545px;*/

}


/* MENU */

.main-navigation {
  position: relative;
  height: 150px;
  box-sizing: border-box;
  /*outline: 2px solid crimson;*/
}

.site-menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  /*outline: 2px solid green;*/
  font-weight: 500;
}

header .logo {
  position: absolute;
  left: 8%;
  top: 50%;
  transform: translate(-50%,-50%);
  /*outline: 2px solid pink;*/

}

header .logo:hover {
  opacity: .8;
}

header .logo:active {
  opacity: .2;
}

nav ul {
  display: table;
  top: auto;
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  /*outline: 2px solid red;*/
}

nav li {
  display: table-cell;
  padding-right: 50px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  color: black;
  padding-bottom: 10px;
}

nav a:hover {
  color: #fb565a
}

nav a:focus {
  color: black;
  border-bottom: 2px solid #fb565a;
}

nav a:active {
  color: #a6a6a6;
}

.cart {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0,-50%);
  /*outline: 2px solid blue;*/
  font-size: 16px;
  font-weight: 500;
  color: black;
  padding-left: 40px;
  text-transform: uppercase;
  text-decoration: none;
  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.cart:hover {
  color: #fb565a
}

.cart:active {
  color: ;
}

.cart:focus {
  color: black;
  border-bottom: 2px solid #fb565a;
}


/* CAROUSEL */

.carousel {
  position: relative;
}

.slide {
  position: relative;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  height: 440px;
  /*outline: 2px solid firebrick;*/
}

.slide .info {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  width: 35%;
}

.stage {
  height: 440px;
}

.stage .slide {
  position: absolute;
}

.slide h1 {
  margin-bottom: 30px;
}

.slide p {
  margin-bottom: 40px;
}



/* FEATURES */

.features {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 80px 0;
  border-bottom: 2px solid #eeeeee;
  /*outline: 2px solid yellow;*/
}

.features-item {
  margin: 0;
  padding: 0;
  width: 33.333%;
  /*outline: 2px solid blue;*/
  padding-right: 75px;
}

img {
  outline: 0;
}

.features-item img {
  position: relative;
  margin: 0;
  /*margin-bottom: 25px;*/
  max-width: 300px;
}

.features-name {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
}

.features-item h2 {
  line-height: 70px;
}

.features-item p {
  max-width: 245px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

.features-item:nth-child(2) a {
    background-color: #00ca74;
}

.features-item:nth-child(2) a:hover {
    background-color: #00bc6c;
    color: white;
}

.features-item:nth-child(2) a:active {
    background-color: #00aa62;
    color: #4dc491;
}

.features-item:last-child a {
    background-color: #efc849;
}

.features-item:last-child a:hover {
    background-color: #eab534;
    color: white;
}

.features-item:last-child a:active {
    background-color: #e5a722;
    color: #edc265;
}


.features .btn {
  padding: 0 40px 0 40px;
  margin-top: 30px;
  box-sizing: border-box;
}


/* ABOUT */

.about {
  overflow: hidden;
}


/* LEAD */


.hero {
  float: left;
  width: 55%;
  padding-top: 65px;
  padding-bottom: 100px;
}

.lead {
  margin-bottom: 35px;
}

.lead b {
  font-size: 45px;
  line-height: 45px;
}

.lead p {
  font-size: 16px;
  line-height: 24px;
}


/* STATS */

.our-stats {
  float: right;
  width: 35%;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  /*outline: 2px solid red;*/
}

.logo-2 {
  position: relative;
  height: auto;
}

.logo-2 img {
  width: 100%;
  margin-bottom: 20px;
}


.description {
  position: relative;
}

.description li {
  position: relative;
  list-style: none;
  padding-top: 65px;
  padding-right: 20px;
  width: 33.333%;
}

.description li:nth-child(3n) {
  padding-right: 0;
}

.description ul {
  display: flex;
  padding-left: 0;
  font-size: 16px;
}

.description p {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.we-are-list {
  font-size: 16px;
  line-height: 24px;
}

.we-are-list p {
  text-transform: uppercase;
  margin-bottom: 30px;
}


.we-are-list ul {
  list-style: none;
  padding: 0;
}

.we-are-list li {
  padding-left: 36px;
  margin-bottom: 30px;
  background-image: url(../img/line.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.our-stats .description .percent {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 45px;
  font-weight: bold;
}

.percent:after {
  content: "%";
  vertical-align: super;
  font-size: 25px;
  font-weight: bold;
}


/* PARTNERS */

.partners {
  position: relative;
  /*display: flex;*/
  /*justify-content: center;*/
  /*flex-wrap: wrap;*/
  text-align: center;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
  margin-bottom: 85px;
}

.partners p {
  display: inline-block;
  width: 24.5%;
  vertical-align: middle;
  margin-top: 40px;
  margin-bottom: 40px;
}

.partners a {
  opacity: .3;
}

.partners a:hover {
    opacity: 1;
}
.partners a:active {
    opacity: .1;
}

.partners img {
  /*display: block;*/
  width: 80%;
}

/* MAP */

.map {
  position: relative;
  background-color: #eeeeee;
}

/*.block {
  position: absolute;
  width: 319px;
  height: 308px;
  background-color: #ffffff;
  z-index: 1000;
  outline: 2px solid red;
  text-align: left;
  padding: 50px;
}

.contacts {
  position: absolute;
  width: 220px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.contacts .phone {
  padding-bottom: 40px;
}

.contacts h1 {
  font-size: 18px;
}

.contacts p {
  font-size: 16px;
}*/


/* FOOTER */

footer {
  margin: 0;
  padding: 77px 0;
  /*outline: 2px solid blue;*/
}

/* SOCIAL */

footer .container {
  overflow: hidden;
}

.social {
  float: left;
  width: 33.333%
  text-align: center;
  font-size: 0;
  padding-bottom: 2px;
  /*outline: 2px solid red;*/
}

.social-vk {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-image: url(../img/vk-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
}


.social-fb {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-image: url(../img/fb-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.social-inst {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-image: url(../img/insta-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.social-vk:hover {
  background-color: #e74246;
}

.social-vk:active {
  background-color: #d7373b;
  background-image: url(../img/vk-icon-opacity.png);
}

.social-fb:hover {
  background-color: #e74246;
}

.social-fb:active {
  background-color: #d7373b;
  background-image: url(../img/fb-icon-opacity.png);
}

.social-inst:hover {
  background-color: #e74246;
}

.social-inst:active {
  background-color: #d7373b;
  background-image: url(../img/insta-icon-opacity.png);
}

.social-warning {
  float: right;
  width: 66.666%;
}

.social-warning p {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  /*outline: 2px solid blue;*/
}

.social-warning p:first-child {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: .5px;
  font-weight: bold;
}
